<div class="grid_8">

	<%= form_for @checklist do %>
	
		<%= text_area_tag('checklist[list]',@checklist.list,:id=>'ChecklistBody') %><br />
		<%= submit_tag 'Save Checklist' %>
	
	<% end %>
	
	<%= link_to 'Show', @checklist %> |
	<%= link_to 'Back', checklists_path %>

</div>

<div class="grid_4">
	<div id="PreviewBox">
		
	</div>
</div>
