<% content_for(:title, 'Listing checklists') %>
<div class="grid_8">
	
	<% @checklists.each do |checklist| %>
		<h2><%= checklist.title %></h2>
		<p><%= format_list_for_display checklist.list %></p>
		
		<p>
			<%= link_to 'Show', checklist %> |
			<%= link_to 'Edit', edit_checklist_path(checklist) %> |
			<%= link_to 'Destroy', checklist, :confirm => 'Are you sure?', :method => :delete %>
		</p>
	<% end %>
	
</div>

<div class="grid_4">
	<%= link_to 'New Checklist', new_checklist_path %>
</div>