- content_for(:title, 'Listing checklists')
= render :partial => 'shared/flash', :locals => {:flash => flash }

.grid_8
	- @checklists.each do |checklist|
		%h2.checklist_title
			= link_to checklist.title, checklist, :title=>'See the whole checklist'
			%span
				= link_to 'Edit', edit_checklist_path(checklist), :title=>'There is one template per list, but many instances.'
			
		%span.subnote
			template updated
			= time_ago_in_words checklist.updated_at
			ago
			= link_to 'Delete', checklist, :confirm => 'Are you sure?', :method => :delete, :title=> 'There is no undo'
			
		%ol
			- checklist.list.each do |item|
				%li
					= item
					
.grid_4
	%p 
		= link_to 'New Checklist', new_checklist_path
		
	%h2 Users