<% content_for(:title, @checklist.title) %>

<script type="text/javascript">
	// detect anyone checking off a list item
	Event.observe(window, 'load', function() {
		$$('.checkoff-link').each(function(element) {
			element.observe('ajax:success', successfulCheckOff);
		});
	});
	
	// when they tick it off, check it off
	function successfulCheckOff(e) {
		// we get the instance back, and sniff the finished_items
		var response = e.memo.responseJSON.instance;
		var element = e.element();
		var label = $(getLabelIdFromLinkId(element.id));
		
		// if our item id in question is in the returned finished_items, strikeout, otherwise, strikein
		if(response.finished_items.indexOf(getItemNumberFromLinkId(element.id)) >= 0) {
			label.addClassName('strikeout');
		} else {
			label.removeClassName('strikeout');
		}
		
		// if this is the last item, then we have show the finish control
		if(isChecklistFinished()) {
			$('FinishedBlock').show().highlight();
		}
		else
			$('FinishedBlock').hide();
	}
	
	// translate the ID from the link that calls the ajax to the id of the li in question
	function getLabelIdFromLinkId(linkid) {		
		return linkid.replace('link_','label_');
	}
	
	// get the 2 from link_2
	function getItemNumberFromLinkId(linkid) {
		return linkid.replace('link_','');
	}
	
	// if all items are striked-out, then it's finished
	function isChecklistFinished() {
		finished = true;
		$$('.itemlabel').each(function(element) {
			if(!element.hasClassName('strikeout')) {
				finished = false;
				return false;
			}
		});
		
		return finished;
	}
</script>

<div class="grid_8">
	<div id="notice" style="display:<%= notice ? 'inherit' : 'none' %>"><p><%= notice %></p></div>

	<h2 class="checklist_title">
		<%=h yield(:title) %>
		<span>
			<%= link_to 'Edit template', edit_checklist_path(@checklist), :title=>'Change the checklist' %>
		</span>
	</h2>
	
	<% if @instance %>
		<p>Last updated by you <%= time_ago_in_words @instance.updated_at %> ago:</p>
	<% end %>
	
	<ol title="The checklsit items">
		<% @checklist.list.each_with_index do |item, i| %>
			<li id="<%= 'li_'+i.to_s %>">
				<%= check_box 'item'+(i.to_s), 0 %>
				<label for="<%= 'item'+i.to_s+'_0' %>" id="<%= 'label_'+i.to_s %>"
						class="itemlabel <%= 'strikeout' if @instance and @instance.finished_items.include?(i.to_s) %>"><%= item %></label>
				<%= link_to "Checkoff", { :action=>'checkoff', :id=>@checklist.id, :item=>i }, :remote=>true, :class => 'checkoff-link', :id=>'link_'+i.to_s %>
			</li>
		<% end %>
	</ol>
	
	<div id="FinishedBlock" style="<%= @instance and @instance.finished_items.count == @checklist.list.count ? 'display:block' : 'display:none' %>">
		<%= link_to 'Finish this checklist', { :action=>'finish', :id=>@checklist.id }, :remote=>true %> <%= 'by emailing ' + @checklist.emails unless @checklist.emails.nil? %>
	</div>
	
	<p>
		<%= link_to 'Back', checklists_path %> |
		<%= link_to 'Delete', @checklist, :confirm => 'Are you sure?', :method => :delete %>
	</p>

</div>

<div class="grid_4">
	<h2>Filled out by</h2>
	...
</div>