<% content_for(:title, @checklist.title) %>
<%= render :partial => 'shared/flash', :locals => {:flash => flash } %>

<script type="text/javascript">
	// detect anyone checking off a list item
	Event.observe(window, 'load', function() {
		$$('.checkoff-link').each(function(element) {
			element.observe('ajax:success', successfulCheckOff);
		});
		
		$$('input').each(function(el) {
			el.observe('click', function(event) {			
				// Get the task ID
				var elId = el.id.split("_")[1];
				var path = '<%= url_for(:action=>'checkoff',:controller=>'checklists', :id=>@checklist.id) %>?item='+elId;
				
				new Ajax.Request(path, {
					onCreate: function() {
						toggleLoader(elId);
					},
					onSuccess: function(response) {						
						successfulCheckOff(response, elId);
					},
					onComplete: function() {
						toggleLoader(elId);
					}
				});
			});
		});
		
		$$('.yo').each(function(ef) {
			ef.observe('click',function(events) {
				$('finishbar').toggle();
				$('finishloader').show();
			});
		});

		
		// flash the finish box if a new page load on a finished checklist
		updateFinished();
	});
	
	function toggleLoader(id) {
		return $('loader_'+id).toggle();
	}
	
	// when they tick it off, check it off
	function successfulCheckOff(response, id) {
		// we get the instance back, and sniff the finished_items		
		var response = response.responseJSON.instance;
		var label = $('label_'+id);
		var item = $('item_'+id);
		
		// if our item id in question is in the returned finished_items, strikeout, otherwise, strikein
		if(response.finished_items.indexOf(id) >= 0) {
			label.addClassName('strikeout');
			item.checked = true;
		} else {
			label.removeClassName('strikeout');
			item.checked = false;
		}
		
		// turn on the alt abandon box if this was the first checklist item
		toggleAbandonBox(response);
		
		// make sure if this was the last item we show the finish box
		updateFinished();
	}
	
	function toggleAbandonBox(response) {
		if( !$('AltAbandonBox').visible() && ( $('AbandonBox') == null || !$('AbandonBox').visible() ) ) {
			$$('#AltAbandonBox span.time_ago_in_words').each(function(e) {
				e.innerHTML = make_date_humane(response.updated_at);
			});
			$('AltAbandonBox').toggle().highlight();		
		}
	}
	
	function updateFinished() {
		// if this is the last item, then we have show the finish control
		if(isChecklistFinished())
			$('FinishedBlock').show().highlight();
		else
			$('FinishedBlock').hide();
	}
	
	// if all items are striked-out, then it's finished
	function isChecklistFinished() {
		finished = true;
		$$('.itemlabel').each(function(element) {
			if(!element.hasClassName('strikeout')) {
				finished = false;
				return false;
			}
		});
		
		return finished;
	}
</script>

<div class="grid_8">
	<h2 class="checklist_title">
		<%=h yield(:title) %>
	</h2>
	
	<% if @instance %>
		<div id="AbandonBox">
			<p>
				Last updated by you <%= time_ago_in_words @instance.updated_at %> ago
				(<%= link_to 'abandon', { :action=>'abandon', :id=>@checklist.id}, :confirm=>'Are you sure?', :title=>'Delete what you have filled out and start over with the latest template' %>):
			</p>
		</div>
	<% end %>
	<div id="AltAbandonBox" style="display:none">
		<p>
			Last updated by you <span class="time_ago_in_words"></span> ago
			(<%= link_to 'abandon', { :action=>'abandon', :id=>@checklist.id}, :confirm=>'Are you sure?', :title=>'Delete what you have filled out and start over with the latest template' %>):
		</p>
	</div>
	
	<% if @instance and @checklist.list != @instance.list %>
		<div id="Flash" class="notice persist">
			<p>
				The checklist template has changed since you started checking it off. You will have to
				<%= link_to 'abandon', { :action=>'abandon', :id=>@checklist.id }, :title=>'Delete what you have filled out and start over with the latest template' %>
				 or finish this instance to use the latest version.
			</p>
		</div>
	<% end %>
	
	<ol title="The checklsit items">
		<% (@instance || @checklist).list.each_with_index do |item, i| %>
			<li id="li_<%= i.to_s %>">
				<%= check_box_tag 'item_'+(i.to_s), 1, (true if @instance and @instance.finished_items and @instance.finished_items.include?(i.to_s)) %>
				<label for="item_<%= i.to_s %>" id="<%= 'label_'+i.to_s %>"
						class="itemlabel <%= 'strikeout' if @instance and @instance.finished_items and @instance.finished_items.include?(i.to_s) %>"><%= item %></label>
				<span id="loader_<%= i.to_s %>" style="display:none"><%= image_tag 'loader-dots.gif' %></span>
			</li>
		<% end %>
	</ol>
	
	<div id="FinishedBlock" style="<%= @instance and @instance.finished_items and @instance.finished_items.count == @checklist.list.count ? 'display:block' : 'display:none' %>">
		<span id="finishloader" style="display:none;"><%= image_tag 'loader-dots.gif', :title=>'loading...', :alt=>'loading...' %></span>
		<span id="finishbar">
			<%= link_to 'Finish this checklist', { :action=>'finish', :id=>@checklist.id }, :class=>'yo' %>
			<%= ('by emailing ' + @checklist.emails) unless @checklist.emails.nil? || @checklist.emails.empty? %>
		</span>
	</div>

</div>

<div class="grid_4">
	<div class="leftspacer">
		<h2 title="We store instance history for the last two weeks">Last two weeks:</h2>
		
		<p>
		<% @previous.each do |old_instance| %>
			jemond <%= time_ago_in_words old_instance.updated_at %> ago<br />
		<% end %>
		</p>
	</div>
</div>