<!DOCTYPE html>
<html>
<head>
  <title><%=h yield(:title) %></title>
  <%= stylesheet_link_tag 'common','app', 'grid' %>
  <%= javascript_include_tag 'jquery', 'core', 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>
	
<div class="header">
	<div class="container_12 clearfix">
		<div class="grid_12">
			<h1><%= link_to 'Checklist App', :action => 'index' %></h1>
		</div>
	</div>
</div>

<div class="container_12">
<%= yield %>
</div>

</body>
</html>