<!DOCTYPE html>
<html>
<head>
  <title><%=h yield(:title) %></title>
  <%= stylesheet_link_tag 'common','app', 'grid' %>
  <%= javascript_include_tag 'jquery', 'jquery-ui', 'rails', 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>
	
<div id="header">
	<div class="container_12 clearfix">
		<div class="grid_6">
			<h1><%= link_to 'Checklist App', :action => 'index', :controller => '/pages' %></h1>
		</div>
		
		<div class="grid_6 textright">
			<div id="navigation">
				<% if user_signed_in? -%>
					<div id="user_login_box" style="float:right">
						<%= link_to current_user.email, edit_user_registration_path, :title=>'Account settings' %> |
						<%= link_to 'Logout', destroy_user_session_path, :title=>'Later!' %>
					</div>
				<% end -%>
			</div>
		</div>
	</div>
</div>

<div class="container_12">
<%= yield %>
</div>

</body>
</html>